/* Grey-green: #3D5A5E; */

* {
	font-family: 'Lato', sans-serif;
}

body {
	background: #FAFBD0;
}

a {
	text-decoration: none;
	color: #FAFBD0;
}

h2 {
	color: #3D5A5E;
}

.hero-unit {
	text-align: center;
}

.fluid-container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

.navigation-menu {
	display: block;
	text-align: center;
}

.navigation-menu ul {
	list-style-type: none;
}

.navigation-menu li {
	padding: 10px;
	display: inline;
}

.navigation-menu li a {
	font-size: 24px;
	font-weight: lighter;
}

.solid-border {
	border: 5px solid #3D5A5E;
}

.secondary-background {
	background-color: #3D5A5E;
}

section {
	width: 100%;
}

.fillSection {
	max-width: 100%;
}

article > p {
	padding: 10px;
	text-align: left;
}

.gallery {
	display: inline-block;
}

.gallery img {
	max-width: 100%;
	padding: 10px;
}

@media (min-width: 961px) {
	body {
		background-color: red;
	}
}

@media (max-width: 960px) {
	.navigation-menu li {
		padding: 10px;
	}
}