a {

}

.fluid-container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

.navigation-menu {
	display: block;
	text-align: center;
}

.navigation-menu ul {
	list-style-type: none;
}

.navigation-menu li {
	padding: 10px;
	display: inline;
}

section {
	width: 100%;
}

.fillSection {
	max-width: 100%;
}

article > p {
	padding: 10px;
	text-align: left;
}

.gallery {
	display: inline-block;
}

.gallery img {
	max-width: 100%;
}

@media (min-width: 961px) {
	body {
		background-color: red;
	}
}

@media (max-width: 960px) {
	.navigation-menu li {
		padding: 10px;
	}
}